@model CreateBookingDto

@{
	ViewBag.Title = "title";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Booking Processes</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<div class="card">
						<div class="card-header">
							<div class="card-title">New Booking</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="Name">Name</label>
								<input type="text" class="form-control" id="Name" asp-for="Name"
								       placeholder="Enter Booking Name">
							</div>

							<div class="form-group">
								<label for="Phone">Phone</label>
								<input type="text" class="form-control" id="Phone" asp-for="Phone"
								       placeholder="Enter Booking Phone">
							</div>

							<div class="form-group">
								<label for="Mail">Mail</label>
								<input type="email" class="form-control" id="Mail" asp-for="Mail"
								       placeholder="Enter Booking Mail">
							</div>

							<div class="form-group">
								<label for="Description">Description</label>
								<input type="text" class="form-control" id="Description" asp-for="Description"
								       placeholder="Enter Booking Description">
							</div>

							<div class="form-group">
								<label for="PersonCount">Person Count</label>
								<input type="number" class="form-control" id="PersonCount" asp-for="PersonCount"
								       placeholder="Enter Booking Person Count">
							</div>

							<div class="form-group">
								<label for="Date">Date</label>
								<input type="date" class="form-control" id="Date" asp-for="Date"
								       placeholder="Enter Booking Date">
							</div>

							<div class="form-group">
								<button class="btn btn-primary">Booking Add</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
