<html>

@await Component.InvokeAsync("_UILayoutHeaderPartialComponent")

<body>
<div class="bg-box">
    <img src="~/feane/images/hero-bg.jpg" alt="">
</div>
@await Component.InvokeAsync("_UILayoutNavbarPartialComponent")

@RenderBody()


@await Component.InvokeAsync("_UILayoutFooterPartialComponent")

@await Component.InvokeAsync("_UILayoutScriptPartialComponent")
</body>

</html>